{% extends 'base.html' %}

{% block body %}
    <h1>Records</h1>

    <div class="card">
        <div class="card-header"><strong>
              {{ records.nome }} 
            </strong>
        </div>
        <div class="card-body">
      
      <p class="card-text">
      <strong>CNPJ: </strong>{{ records.cnpj }}</p>

      <p class="card-text">
      <strong>Email: </strong>{{ records.email }}</p>
      
      <p class="card-text">
      <strong>Telefone: </strong>{{ records.phone }} </p>
      
      <p class="card-text">
      <strong>Estado: </strong>{{ records.estado }}</p>
      
      <p class="card-text">
      <strong>Create At: </strong>{{ records.created_at }}</p>
      
      <p class="card-text">
      <strong>ID: </strong>{{ records.id }}</p>
          
          
        </div>
      </div>

      <br/><br/>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

        <a href="{% url 'delete' records.id %}" class="btn btn-danger">Delete</a>

        <a href="{% url 'update' records.id %}" class="btn btn-dark">Update</a>




{% endblock body %}